body{

    font-family:sans-serif
    }
ul{
 font-family:Arial
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}
#imgpos {
  position: absolute;
  left: 65%;
  top: 5%;
} 
h2 {
  position:absolute;
  left: 20%;
  top: 10%;

}
#imgpos2{
  position: absolute;
  left: 10%;
  top:5% ;
}
#imgpos3{
position: absolute;
top: 40%;
right: 0.2%;

} 